@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
  --primary: #0070c5;
}
body{
   font-family: "Oswald", sans-serif;
}
.heading::before{
  content: "";
  position: absolute;
}